<div class="top-bar">
  <button
    (click)="setMode(0)"
    [style]="{ 'font-weight': mode == 0 ? 'bold' : 'normal' }"
  >
    Mode 0
  </button>
  <button
    (click)="setMode(1)"
    [style]="{ 'font-weight': mode == 1 ? 'bold' : 'normal' }"
  >
    Mode 1
  </button>
  <button
    (click)="setMode(2)"
    [style]="{ 'font-weight': mode == 2 ? 'bold' : 'normal' }"
  >
    Mode 2
  </button>
</div>
<div id="QCare_HotscreenContainer" [ngClass]="{ 'left-menu': mode !== 0 }">
  <div
    data-angular-component="Navigation"
    class="QCare_Navigation_OuterContainer"
  >
    <app-module-navigation></app-module-navigation>
    <app-protocols></app-protocols>
  </div>
</div>
