<div class="navigation-top">
  <div class="navigation-top-general">
    <div class="navigation-top-block-1">
      <div
        class="navigation-top-menu-btn clickable"
        (click)="showTopMenu = true"
      >
        <svg
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.07227 4.30762H41.5527V12.7337H4.07227V4.30762Z"
            fill="white"
          />
          <path
            d="M4.07227 18.3701H41.5527V26.7962H4.07227V18.3701Z"
            fill="white"
          />
          <path
            d="M4.07227 32.4326H41.5527V40.8587H4.07227V32.4326Z"
            fill="white"
          />
        </svg>
      </div>
      <!-- PATIENT DETAILS BLOCK -->
      <div class="navigation-top-patientInfo navigation-tooltip clickable">
        <span class="patient-name">{{ patientName }}</span>
        <div class="additional-data">
          <span *ngFor="let pd of patientData">{{ pd }}</span>
        </div>
        <div class="tooltip-content"></div>
      </div>
      <!-- ALERT BLOCK -->
      <div class="navigation-top-additionalinfo">
        <div *ngFor="let alert of alerts" class="additionalinfo-letterDiv">
          <div
            class="additionalinfo-letter navigation-tooltip"
            [style]="'background-color:' + alert.color"
          >
            {{ alert.label }}
            <div class="navigation-additionalinfo tooltip-content">
              <div
                *ngFor="let subitem of alert.subitems"
                [ngClass]="{
                  'navigation-additionalinfo-header': subitem.additionalHeader
                }"
              >
                {{ subitem.label }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!----------------->

      <!----------------->
      <!-- CALENDAR BLOCK -->
      <div class="navigation-top-timeselector">
        <div class="navigation-top-timeselector-block">
          <div class="navigation-top-changeDate">&lt;</div>
          <div
            data-qcaretimepickerelement="1"
            class="navigation-top-selectedDate"
          >
            18.09.2024
          </div>
          <div class="navigation-top-changeDate">&gt;</div>
        </div>

        <div class="navigation-top-timeselector-block">
          <div class="navigation-top-dateSelector navigation-top-selected">
            1
          </div>
          <div class="navigation-top-dateSelector">3</div>
          <div class="navigation-top-dateSelector">5</div>
          <div class="navigation-top-dateSelector">7</div>
          <div class="navigation-top-dateSelector">12</div>
          <div class="navigation-top-dateSelector">24</div>
        </div>

        <div class="navigation-top-timeselector-block">
          <div class="navigation-top-dateSelector">2h</div>
          <div class="navigation-top-dateSelector">6h</div>
          <div class="navigation-top-dateSelector">12h</div>
        </div>
      </div>
      <!------------------------------>
    </div>
  </div>
  <!---------- TOP menu (hidden for mode 2)---------->
  <div
    class="navigation-top-link-container"
    *ngIf="menuMode != 2 && showTopMenu"
  >
    <!-- top level menu hidden for mode 1 and 2 -->
    <div class="navigation-top-link-row" *ngIf="menuMode == 0">
      <div
        *ngFor="let item of mainMenu"
        class="navigation-top-link-item"
        [ngClass]="{
          'navigation-top-link': !item.subitems,
          'navigation-top-selected': currentItem?.id.indexOf(item.id) === 0
        }"
        (click)="selectMenuItem(item, null)"
      >
        {{ item.label }}
        <span *ngIf="item.subitems" class="expand-symbol">‹</span>
      </div>
    </div>
    <div
      *ngFor="let smenu of subMenus"
      class="navigation-top-link-row"
      [ngClass]="{
        hidden: currentItem?.id.indexOf(smenu.root) !== 0
      }"
    >
      <div
        *ngFor="let item of smenu.items"
        class="navigation-top-link-item"
        [ngClass]="{
          'navigation-top-link': !item.subitems,
          'navigation-top-selected': currentItem?.id.indexOf(item.id) === 0
        }"
        (click)="selectMenuItem(item, null)"
      >
        {{ item.label }}
        <span *ngIf="item.subitems" class="expand-symbol">‹</span>
      </div>
    </div>
  </div>
  <!-- ACTION LINE -->
  <div class="navigation-top-actionline-container">
    <div
      class="navigation-top-action-button"
      *ngFor="let action of actions"
      (click)="activeAction = action.id"
    >
      {{ action.id }} {{ action.label }}
    </div>
    <!---->
  </div>
  <div class="navigation-top-action-button-container">
    <div
      *ngFor="let saBlock of subActionBlocks"
      class="navigation-top-action-container-outerDiv"
      [ngClass]="{ hidden: activeAction !== saBlock.root }"
      [style]="'flex: 1 1 ' + saBlock.width"
    >
      <div class="navigation-top-action-button-container-header">
        {{ saBlock.root }} * {{ saBlock.header }}
      </div>
      <div
        class="navigation-top-action-clickable"
        data-qcaretimepickerelement="1"
        *ngFor="let item of saBlock.list"
      >
        {{ item }}
      </div>
    </div>
    <!---->
  </div>
  <!---->

  <!---->
</div>

<!--- LEFT SIDEBAR (hidden for mode 0)-->
<div
  class="navigation-left"
  *ngIf="menuMode != 0"
  [ngClass]="{ expanded: expanded }"
>
  <div class="navigation-left_item navigation-left-limited first-level">
    <div
      *ngFor="let item of mainMenu"
      (click)="selectMenuItem(item, $event)"
      class="navigation-left_item_unit"
      [ngClass]="{
        'navigation-left-selected': currentItem?.id.indexOf(item.id) === 0
      }"
    >
      <img
        class="navigation-left_img"
        [src]="'../../../assets/Images/' + item.icon + '.png'"
        [title]="item.label"
      />
      <span>{{ item.label }}</span>
      <span *ngIf="item.subitems" class="expand-symbol"></span>
    </div>
  </div>

  <div
    *ngFor="let smenu of subMenus"
    class="navigation-left_item"
    [ngClass]="{
      hidden:
        currentItem?.id.indexOf(smenu.root) !== 0 || !expanded || menuMode !== 2
    }"
  >
    <div
      *ngFor="let item of smenu.items"
      class="navigation-left_item_unit"
      [ngClass]="{
        'navigation-top-link': !item.subitems,
        'navigation-left-selected': currentItem?.id.indexOf(item.id) === 0
      }"
      (click)="selectMenuItem(item, $event)"
    >
      <img
        class="navigation-left_img"
        [src]="'../../../assets/Images/' + item.icon + '.png'"
        [title]="item.label"
      />
      <span>{{ item.label }}</span>
      <span *ngIf="item.subitems" class="expand-symbol"></span>
    </div>
  </div>
</div>
